---

const SECRET = "process.env.SECRET";
const USER = "process.env.USER";
---

<!DOCTYPE html>
<html lang="en">
	<body>
		<main>
			<h1>Hello, { USER }!</h1>

			<h2>My Secret, { SECRET }</h2>
		</main>
	</body>
</html>
